$color-white: #ffffff;
$color-black: #000000;
$color-blue: #007bff;
$color-red: #dc3545;
$color-red-dark: firebrick;
$color-gray: #6c757d;
$color-gray-ligth: lightgray;
$color-gray-medium-ligth: #CED4DA;
$color-gray-very-ligth: #F4F7FA;
$color-secondary: #6c757d;
$color-blue-ligth: #1C63CE;
$color-blue-very-ligth: #E5EDF4;